<div class="row">
  <div class="col-12">
    <h1>All Users</h1>

    <div class="top-right-button-container">
      <button
        type="button"
        class="btn btn-primary btn-lg top-right-button mr-1"
        (click)="navigateToAddUserForm()"
      >
        ADD NEW
      </button>
    </div>

    <nav
      class="breadcrumb-container d-none d-sm-block d-lg-inline-block"
      aria-label="breadcrumb"
    >
      <ol class="breadcrumb pt-0">
        <li
          class="breadcrumb-item"
          *ngFor="let crumb of pageData.breadcrumbs; let l = last"
          [ngClass]="l ? 'active' : ''"
        >
          <a href="javascript:void(0)">{{ crumb.title }}</a>
        </li>
      </ol>
    </nav>
    <div class="mb-2">
      <a
        class="btn pt-0 pl-0 d-inline-block d-md-none"
        data-toggle="collapse"
        href="#displayOptions"
        role="button"
        aria-expanded="true"
        aria-controls="displayOptions"
      >
        {{ pageData.title }}
        <i class="simple-icon-arrow-down align-middle"></i>
      </a>
      <div class="collapse dont-collapse-sm" id="displayOptions">
        <div class="d-block d-md-inline-block">
          <div
            class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top"
          >
            <input
              class="form-control"
              placeholder="Search Table"
              id="searchDatatable"
            />
          </div>
        </div>
        <div class="float-md-right dropdown-as-select" id="pageCountDatatable">
          <span class="text-muted text-small"
            >Displaying 1-10 of 40 items
          </span>
          <button
            class="btn btn-outline-dark btn-xs dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            id="records"
          >
            10
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item active" href="javascript:void(0)">10</a>
            <a class="dropdown-item" href="javascript:void(0)">20</a>
            <a class="dropdown-item" href="javascript:void(0)">30</a>
            <a class="dropdown-item" href="javascript:void(0)">50</a>
            <a class="dropdown-item" href="javascript:void(0)">100</a>
          </div>
        </div>
      </div>
    </div>
    <div class="separator"></div>
  </div>
</div>

<div class="row">
  <div
    class="col-12 mb-4 data-table-rows data-tables-hide-filter"
    id="clientsTable"
  >
    <table
      class="data-table data-table-scrollable responsive nowrap"
      datatable
      [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"
    >
      <thead>
        <tr>
          <th>User Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
