<nav class="navbar fixed-top">
  <div class="d-flex align-items-center navbar-left">
    <a href="javascript:void(0)" class="menu-button d-none d-md-block">
      <svg class="main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 17">
        <rect x="0.48" y="0.5" width="7" height="1" />
        <rect x="0.48" y="7.5" width="7" height="1" />
        <rect x="0.48" y="15.5" width="7" height="1" />
      </svg>
      <svg class="sub" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 17">
        <rect x="1.56" y="0.5" width="16" height="1" />
        <rect x="1.56" y="7.5" width="16" height="1" />
        <rect x="1.56" y="15.5" width="16" height="1" />
      </svg>
    </a>

    <a
      href="javascript:void(0)"
      class="menu-button-mobile d-xs-block d-sm-block d-md-none"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 17">
        <rect x="0.5" y="0.5" width="25" height="1" />
        <rect x="0.5" y="7.5" width="25" height="1" />
        <rect x="0.5" y="15.5" width="25" height="1" />
      </svg>
    </a>
  </div>

  <a class="navbar-logo" href="Dashboard.Default.html">
    <span
      class="logo d-none d-xs-block"
      [ngStyle]="{ 'background-image': 'url(' + logoUrl + ')' }"
    ></span>
    <span class="logo-mobile d-block d-xs-none"></span>
  </a>

  <div class="navbar-right">
    <div class="user d-inline-block">
      <button
        class="btn btn-empty p-0"
        type="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span class="name">{{ name }}</span>
        <span>
          <img
            alt="Profile Picture"
            src="{{ serverImagesPath.small + profile_pic }}"
            (error)="handleImageError($event)"
          />
        </span>
      </button>
      <div class="dropdown-menu dropdown-menu-right mt-3">
        <a class="dropdown-item" uiSref="store.profile">Account</a>
        <button
          class="dropdown-item"
          href="javascript:void(0)"
          (click)="signout()"
        >
          Sign out
        </button>
      </div>
    </div>
  </div>
</nav>
<div class="menu">
  <div class="main-menu">
    <div class="scroll">
      <ul class="list-unstyled">
        <li
          class="main-menu-link"
          [id]="nav.title"
          *ngFor="let nav of navigationMenu"
          uiSrefActive="active"
        >
          <div *ngIf="nav.route; then noChildren; else haveChildren"></div>
          <!--handle those with children -->
          <ng-template #haveChildren>
            <a [attr.link]="nav.id">
              <i class="{{ nav.icon }}"></i> {{ nav.title }}
            </a>
          </ng-template>
          <!--those who have no children -->
          <ng-template #noChildren>
            <a [attr.link]="nav.route">
              <i class="{{ nav.icon }}"></i> {{ nav.title }}
            </a>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>

  <div class="sub-menu">
    <div class="scroll">
      <ul
        class="list-unstyled"
        [attr.data-link]="nav.id"
        *ngFor="let nav of navigationMenu"
      >
        <li *ngFor="let sub of nav.sub" uiSrefActive="active">
          <a uiSref="{{ sub.route }}">
            <i class="{{ sub.icon }}"></i>
            <span class="d-inline-block">{{ sub.title }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<main class="main-component2">
  <!--Start of content -->
  <div class="container-fluid">
    <ui-view></ui-view>
    <div *ngIf="navigationMenu.length == 0" class="errorImg">
      <img src="assets/img/accessDenied.png" alt="No permissions at all" />
    </div>
  </div>
  <!--End of Content -->
</main>
<notifier-container></notifier-container>

<footer class="page-footer">
  <div class="footer-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-6">
          <p class="mb-0 text-muted">Malik Pvt Ltd @ Sterlingstech</p>
        </div>
        <div class="col-sm-6 d-none d-sm-block">
          <ul class="breadcrumb pt-0 pr-0 float-right">
            <li class="breadcrumb-item mb-0">
              <a href="https://www.sterlingstech.com" class="btn-link">About Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Start of Alert Component -->
<alert></alert>
<!-- End of Alert Component -->
