<div class="alert alert-warning alert-dismissible fade show mb-2" role="alert" *ngIf="id && !existInInventory">
  <strong>Not added to inventory yet!</strong> You have not added this product
  to inventory yet not even once .
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div>
<!--Start of Product Form -->

<div class="card mb-4">
  <div class="card-body">
    <h5 class="mb-4">{{ title }}</h5>

    <form [formGroup]="ProductForm" (ngSubmit)="formSubmitted()">
      <!--Start of product images section -->
      <!--Product edit mode previous images -->
      <div class="row list disable-text-selection" data-check-all="checkAll" *ngIf="id && imagesSelected.length">
        <div class="col-xl-2 col-lg-2 col-6 col-sm-4 mb-4 cardImgParent" *ngFor="let img of imagesSelected">
          <div class="card">
            <div class="position-relative">
              <a href="Pages.Product.Detail.html"><img class="card-img-top" src="{{ serverImagesPath + img }}"
                  alt="Card image cap" /></a>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="d-flex justify-content-center">
                    <a class="btn-link delete-library-item sfl-delete-item" href="javascript:void(0)"
                      (click)="removeImage(img, $event)">
                      <i class="simple-icon-trash"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End of edit product mode previous images-->

      <!--Second try -->

      <div class="select-from-library-container mb-1">
        <div class="row">
          <div class="card col-sm-12 mb-4">
            <div class="card-body">
              <h5 class="mb-4">Product Images</h5>
              <span action="/file-upload">
                <div class="dropzone"></div>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!--End of product images section -->
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Name</label>
          <input type="text" class="form-control" formControlName="name" id="name" placeholder="Name" />
          <div *ngIf="
              ProductForm.controls.name?.invalid &&
              (ProductForm.controls.name.dirty ||
                ProductForm.controls.name.touched)
            " class="alert alert-danger">
            <div *ngIf="ProductForm.controls.name.errors.required">
              Name is required.
            </div>
            <div *ngIf="ProductForm.controls.name.errors.minlength">
              Name must be at least 4 characters long.
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Categories</label>
          <select2 [options]="select2Options" (valueChanged)="updateCategories($event)" class="catSelect"
            [value]="selectedCategories">
            <option *ngFor="let op of categories" value="{{ op.id }}" [attr.selected]="">
              {{ op.title }}
            </option>
          </select2>
          <div *ngIf="
              ProductForm.controls.categories?.invalid &&
              (ProductForm.controls.categories.dirty ||
                ProductForm.controls.categories.touched)
            " class="alert alert-danger">
            <div *ngIf="ProductForm.controls.categories.errors.required">
              A category is required.
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputPassword4">Product Group</label>
          <select2 [options]="select2Options" (valueChanged)="updateGroups($event)" class="groupSelect"
            [value]="selectedCategories">
            <option *ngFor="let group of groups" value="{{ group.id }}" [attr.selected]="">
              {{ group.name }}
            </option>
          </select2>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Measurement Unit</label>
          <select class="custom-select" formControlName="measurement_unit_id">
            <option *ngFor="let unit of units" value="{{ unit.id }}" [attr.selected]="">
              {{ unit.unit }}
            </option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">Barcode</label>
          <input type="text" class="form-control" formControlName="barcode" id="barcode" placeholder="Barcode" />
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">SKU</label>
          <input type="text" class="form-control" formControlName="sku" id="sku" placeholder="SKU" />
        </div>

        <div class="form-group col-md-6">
          <label for="inputEmail4">Sale Price</label>
          <input type="number" class="form-control" formControlName="sp" id="salePrice" placeholder="Sale Price" />
          <div *ngIf="
              ProductForm.controls.sp?.invalid &&
              (ProductForm.controls.sp.dirty || ProductForm.controls.sp.touched)
            " class="alert alert-danger">
            <div *ngIf="ProductForm.controls.sp.errors.required">
              Saleprice is required.
            </div>
            <div *ngIf="ProductForm.controls.sp.errors.min">
              Sale price must be at least 1.
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Purchase Price</label>
          <input data-role="tagsinput" type="number" formControlName="pp" class="form-control" id="purchasePrice"
            placeholder="Purchase Price" />
          <div *ngIf="
              ProductForm.controls.pp?.invalid &&
              (ProductForm.controls.pp.dirty || ProductForm.controls.pp.touched)
            " class="alert alert-danger">
            <div *ngIf="ProductForm.controls.pp.errors.required">
              Purchase price is required.
            </div>
            <div *ngIf="ProductForm.controls.pp.errors.min">
              Purchase price must be at least 1.
            </div>
          </div>
        </div>
      </div>

      <input type="text" class="form-control" id="images" formControlName="images" placeholder="Images"
        style="display: none" />
      <!--Specifivally for vehicles -->
      <form formGroupName="otherInfo">
        <div class="form-row">
          <div class="col-md-12">
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="inputPassword4">Company</label>
                <input data-role="tagsinput" type="text" formControlName="company" class="form-control" id="company"
                  placeholder="Company" />
                <div *ngIf="
                    ProductForm.get('otherInfo')['controls']?.company
                      ?.invalid &&
                    (ProductForm.get('otherInfo')['controls']?.company?.dirty ||
                      ProductForm.get('otherInfo')['controls']?.company
                        ?.touched)
                  " class="alert alert-danger">
                  <div *ngIf="
                      ProductForm.controls?.otherInfo?.get('company')[
                        'controls'
                      ]?.errors?.required
                    ">
                    Company is required.
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <label for="inputPassword4">Product Inventory type</label>
                <select name="inventory_type" formControlName="inventory_type" class="custom-select">
                  <option value="Barcoded">Barcodable</option>
                  <option value="Non Barcoded">Non Barcodable</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <label for="inputPassword4">SKU</label>
                <input data-role="tagsinput" type="text" formControlName="sku" class="form-control"
                  id="sku" placeholder="Universal Code" />
              </div>
              <div class="form-group col-md-3">
                <label for="inputPassword4">Product Code</label>
                <input data-role="tagsinput" type="text" formControlName="universal_code" class="form-control"
                  id="universal_code" placeholder="Universal Code" />
              </div>
            </div>
            <div class="form-row row">
              <div class="form-group col-md-8">
                <label for="inputAddress">Description</label>
                <textarea class="form-control" rows="12" required id="description" formControlName="description"
                  placeholder="Description"></textarea>
                <div class="invalid-tooltip">Details are required!</div>
                <div *ngIf="
                    ProductForm.get('otherInfo')['controls']?.description
                      ?.invalid &&
                    (ProductForm.get('otherInfo')['controls']?.description
                      ?.dirty ||
                      ProductForm.get('otherInfo')['controls']?.description
                        ?.touched)
                  " class="alert alert-danger">
                  <div *ngIf="
                      ProductForm.get('otherInfo')['controls']?.description
                        ?.errors?.required
                    ">
                    Description is required.
                  </div>
                </div>
              </div>
              <div class="col-md-3 form-row">
                <div class="form-group col-12">
                  <label for="inputPassword4">Color</label>
                  <select2 [options]="select2Options" (valueChanged)="updateColor($event)" class="colorSelect"
                    [value]="selectedColor">
                    <option *ngFor="let color of colors" value="{{ color.id }}" [attr.selected]="">
                      {{ color.color }}
                    </option>
                  </select2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <!--End of Vehicle specific info -->

      <button type="submit" class="btn btn-primary d-block mt-3">
        <span *ngIf="!isInProgress">{{ id ? "Update" : "Add" }} Product</span>
        <preloader *ngIf="isInProgress"></preloader>
      </button>
    </form>
  </div>
</div>

