<div class="alert alert-warning alert-dismissible fade show mb-2" role="alert" *ngIf="id && !existInInventory">
  <strong>Not added to inventory yet!</strong> You have not added this product
  to inventory yet not even once .
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div>
<!--Start of Product Form -->

<div class="card mb-4">
  <div class="card-body">
    <h5 class="mb-4">{{ title }}</h5>

    <form [formGroup]="ProductForm" (ngSubmit)="formSubmitted()">
      <!--Start of product images section -->
      <!--Product edit mode previous images -->
      <div class="row list disable-text-selection" data-check-all="checkAll" *ngIf="id && imagesSelected.length">
        <div class="col-xl-2 col-lg-2 col-6 col-sm-4 mb-4 cardImgParent" *ngFor="let img of imagesSelected">
          <div class="card">
            <div class="position-relative">
              <a href="Pages.Product.Detail.html"><img class="card-img-top" src="{{ serverImagesPath + img }}"
                  alt="Card image cap" /></a>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="d-flex justify-content-center">
                    <a class="btn-link delete-library-item sfl-delete-item" href="javascript:void(0)"
                      (click)="removeImage(img, $event)">
                      <i class="simple-icon-trash"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End of edit product mode previous images-->

      <!--Second try -->

      <div class="select-from-library-container mb-1">
        <div class="row">
          <div class="card col-sm-12 mb-4">
            <div class="card-body">
              <h5 class="mb-4">Product Images</h5>
              <span action="/file-upload">
                <div class="dropzone"></div>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!--End of product images section -->
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Name</label>
          <input type="text" class="form-control" formControlName="name" id="name" placeholder="Name" />
          <div *ngIf="
              ProductForm.controls.name?.invalid &&
              (ProductForm.controls.name.dirty ||
                ProductForm.controls.name.touched)
            " class="alert alert-danger">
            <div *ngIf="ProductForm.controls.name.errors.required">
              Name is required.
            </div>
            <div *ngIf="ProductForm.controls.name.errors.minlength">
              Name must be at least 4 characters long.
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Categories</label>
          <select2 [options]="select2Options" (valueChanged)="updateCategories($event)" class="catSelect"
            [value]="selectedCategories">
            <option *ngFor="let op of categories" value="{{ op.id }}" [attr.selected]="">
              {{ op.title }}
            </option>
          </select2>
          <div *ngIf="
              ProductForm.controls.categories?.invalid &&
              (ProductForm.controls.categories.dirty ||
                ProductForm.controls.categories.touched)
            " class="alert alert-danger">
            <div *ngIf="ProductForm.controls.categories.errors.required">
              A category is required.
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputPassword4">Product Group</label>
          <select2 [options]="select2Options" (valueChanged)="updateGroups($event)" class="groupSelect"
            [value]="selectedGroup">
            <option *ngFor="let group of groups" value="{{ group.id }}" [attr.selected]="">
              {{ group.name }}
            </option>
          </select2>
          <div *ngIf="
              ProductForm.controls.product_group_id?.invalid &&
              (ProductForm.controls.product_group_id.dirty ||
                ProductForm.controls.product_group_id.touched)
            " class="alert alert-danger">
            <div *ngIf="ProductForm.controls.product_group_id.errors.required">
              A group is required.
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Pet Type</label>
          <select2 [options]="select2Options" (valueChanged)="updatePetTypes($event)" class="groupSelect"
            [value]="selectedPetType">
            <option *ngFor="let types of petTypes" value="{{ types.id }}" [attr.selected]="">
              {{ types.type }}
            </option>
          </select2>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Select Brand</label>
          <select2 [options]="select2Options" (valueChanged)="updateBrands($event)" class="groupSelect"
            [value]="selectedPetType">
            <option *ngFor="let brand of Brands" value="{{ brand.id }}" [attr.selected]="">
              {{ brand.name }}
            </option>
          </select2>
          <div *ngIf="
              ProductForm.controls.brand_id.invalid &&
              (ProductForm.controls.brand_id.dirty ||
                ProductForm.controls.brand_id.touched)
            " class="alert alert-danger">
            <div *ngIf="
                ProductForm.controls.brand_id.errors.required
              ">
              A brand is required.
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Measurement Unit</label>
          <select class="custom-select" formControlName="measurement_unit_id">
            <option *ngFor="let unit of units" value="{{ unit.id }}" [attr.selected]="">
              {{ unit.unit }}
            </option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">Barcode</label>
          <input type="text" class="form-control" formControlName="barcode" id="barcode" placeholder="Barcode" />
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">SKU</label>
          <input type="text" class="form-control" formControlName="sku" id="sku" placeholder="SKU" />
        </div>

        <div class="form-group col-md-6">
          <label for="inputEmail4">Sale Price</label>
          <input type="number" class="form-control" formControlName="price" id="salePrice" placeholder="Sale Price" />
          <div *ngIf="
              ProductForm.controls.sp?.invalid &&
              (ProductForm.controls.sp.dirty || ProductForm.controls.sp.touched)
            " class="alert alert-danger">
            <div *ngIf="ProductForm.controls.sp.errors.required">
              Saleprice is required.
            </div>
            <div *ngIf="ProductForm.controls.sp.errors.min">
              Sale price must be at least 1.
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-12">
          <div class="form-row"></div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Height</label>
              <input type="text" class="form-control" formControlName="high" id="high" placeholder="high" />
            </div>
            <div class="form-group col-md-6">
              <label for="inputEmail4">Length</label>
              <input type="text" class="form-control" formControlName="long" id="long" placeholder="long" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Width</label>
              <input type="number" class="form-control" formControlName="width" id="width" placeholder="width" />
            </div>
            <div class="form-group col-md-6">
              <label for="inputEmail4">Order Lever</label>
              <input type="number" class="form-control" formControlName="order_level" id="order_level"
                placeholder="order_level" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Weight</label>
              <input type="text" class="form-control" formControlName="weight" id="weight" placeholder="weight" />
            </div>
            <div class="form-group col-md-6">
              <label for="inputEmail4">Stock</label>
              <input type="number" class="form-control" formControlName="stock" id="stock" placeholder="stock" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputPassword4">status</label>
              <select class="custom-select" formControlName="status">
                <option [value]="1" [attr.selected]="">Active</option>
                <option [value]="0" [attr.selected]="">InActive</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="inputEmail4">Discount</label>
              <input type="number" class="form-control" formControlName="discount" id="discount" placeholder="discount" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputPassword4">Best Seller</label>
              <select class="custom-select" formControlName="bestseller">
                <option [value]="1" [attr.selected]="">Yes</option>
                <option [value]="0" [attr.selected]="">No</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="inputEmail4">Tax</label>
              <input type="number" class="form-control" formControlName="tax" id="tax" placeholder="tax" />
            </div>
          </div>

          <div class="form-row row">
            <div class="form-group col-md-8">
              <label for="inputAddress">Description</label>
              <textarea class="form-control" rows="12" required id="description" formControlName="description"
                placeholder="Description"></textarea>
              <div class="invalid-tooltip">Details are required!</div>
              <div *ngIf="
                    ProductForm['controls']?.description
                      ?.invalid &&
                    (ProductForm['controls']?.description
                      ?.dirty ||
                      ProductForm['controls']?.description
                        ?.touched)
                  " class="alert alert-danger">
                <div *ngIf="
                      ProductForm['controls']?.description
                        ?.errors?.required
                    ">
                  Description is required.
                </div>
              </div>
            </div>
            <div class="col-md-3 form-row">
              <div class="form-group col-12">
                <label for="inputPassword4">Color</label>
                <select2 [options]="select2Options" (valueChanged)="updateColor($event)" class="colorSelect"
                  [value]="selectedColor">
                  <option *ngFor="let color of colors" value="{{ color.id }}" [attr.selected]="">
                    {{ color.color }}
                  </option>
                </select2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End of Vehicle specific info -->

      <button type="submit" class="btn btn-primary d-block mt-3">
        <span *ngIf="!isInProgress">{{ id ? "Update" : "Add" }} Product</span>
        <preloader *ngIf="isInProgress"></preloader>
      </button>
    </form>
  </div>
</div>